@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&display=swap');

/* variaveis em css: declaracao */
:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --font-primaria: "Krona One", sans-serif;
    --font-secundaria: "Montserrat", sans-serif;
}

/* formatação da página */

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    /* mantem o conteúdo dentro da tag pai */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

/* Tentando estilizar o cabecalho */
.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    color: var(--cor-terciaria);
    font-size: 24px;
    font-family: var(--font-secundaria);
    font-weight: 600;
    text-decoration: none;
}

.titulo-destaque {
    color: var(--cor-terciaria)
}

.apresentacao {
    padding: 8% 15%;
    /* margin: 10% 15%; */
    /* deixa todo mundo em linha */
    display: flex;
    /* trazendo conteudos para o centro ao propio alinhamento deles */
    align-items: center;
    /* da um espaço entre os blocos */
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: var(--font-primaria);
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: var(--font-secundaria);
}

.apresentacao__conteudo__button {
    gap: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.apresentacao__conteudo__button__titulo {
    font-size: 24px;
    font-weight: 400px;
    font-family: var(--font-primaria);
}

.apresentacao__conteudo__button__link {
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid var(--cor-terciaria);
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: var(--font-secundaria);
}

.apresentacao__conteudo__button__link:hover {
    background-color: var(--cor-hover);
}

/*Tentativa de fazer um hover mais trabalhado em uma imagem*/
.imagem:hover {
    transform: translate(-2%, -2%);
    transition: transform 0.5s ease;
    /* aumenta o tamanho */
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 24px;
    font-weight: 400;
}

